<%= form_for [@store, @menuitem], :html => {class: 'form-horizontal'} do |f| %>

  <div class="form-group">
    <div class="col-sm-1">
      <%= f.label :menugroup, class: 'control-label' %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :menugroup, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-1">
      <%= f.label :name, class: 'control-label' %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-1">
      <%= f.label :description, class: 'control-label' %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-1">
      <%= f.label :price, class: 'control-label' %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :price, class: "form-control", placeholder: "Price in cents" %>
    </div>
  </div>

  <!-- <div class="form-group">
    <div class="col-sm-1">
      < %= f.label :photo, class: 'control-label' % >
    </div>
    <div class="col-sm-3">
      < %= f.file_field :photo, class: "form-control" % >
    </div>
  </div> -->

  <div class="form-group">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3 text-right">
      <% if @menuitem.id %>
        <%= link_to 'Delete Item', store_menuitem_path(@store, @menuitem), class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;&nbsp;
      <% end %>
      <%= f.submit nil, class: 'btn btn-default btn-success' %>
    </div>
  </div>
<% end %>
